* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  /* margin: 20px 0; */
}

header {
  width: 100%;
  height: 15vh;
  background-color: red;
}


.editTools {
  width: 100%;
  background-color: rgb(104, 104, 104);
}

.editTools ul {
  display: flex;
  padding-left: 5%;
  height: 100%;
  list-style-type: none;
}


.editTools ul li {
  flex-basis: 10%;
  height: 100%;
}

.editTools ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1.5vh 0;
  color: #fff;
  cursor: pointer
}

.editTools ul li a:hover {
  background-color: rgb(134, 134, 134);

}


.option {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  min-width: 150%;
  background-color: rgb(185, 184, 184);
  line-height: 2;
  text-align: left;
  text-indent: 5%;
}

.editTools ul li a:hover .option {
  display: block;
}


.addMenu.hidden,
.editTableWindow.hidden,
.editGraphWindow.hidden {
  display: none;
}

.addMenu,
.editTableWindow,
.editGraphWindow {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  /* height: 30vh; */
  border: 1px solid black;
  background-color: #fff;
  z-index: 10;
}

.addMenu h4,
.editTableWindow h4,
.editGraphWindow h4 {
  background-color: #ddd;
  cursor: pointer;
}

.addMenu h4,
.addMenu input,
.editTableWindow h4,
.editGraphWindow h4 {
  padding: 10px 20px;
}

.addMenu p,
.editTableWindow p,
.editGraphWindow p {
  padding: 10px 20px;
}

.colorPicker,
.borderTable,
.borderCell,
.lineStyle,
.nagStyle,
.cellStyle,
.slupStyle {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.nagStyle span,
.cellStyle span {
  background-color: #ddd;
  text-align: center;
}

.fill,
.nag,
.cell {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #888;
  margin-right: 3%;
}

.nag:nth-last-child(1),
.cell:nth-last-child(1) {
  width: auto;
  background-color: white;
  border: none;
}




.nag:nth-last-child(1) label,
.cell:nth-last-child(1) label {
  margin-left: 0;
  margin-right: 10px;
}

.fill:hover,
.nag:hover,
.cell:hover {
  filter: invert(20%)
}

.nag:hover:nth-last-child(1),
.cell:hover:nth-last-child(1) {
  filter: none
}

.redFill {
  background-color: #f00;
}

.greenFill {
  background-color: #0f0;
}

.blueFill {
  background-color: #00f;
}

.blackFill {
  background-color: #000;
}

.yellowFill {
  background-color: #ff0;
}

.transparentFill {
  background-color: transparent;
}


label {
  margin-left: 20px;
}



.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(224, 81, 81);

}







#csv {
  display: none;
  margin: 20px auto;
  /* background-color: red; */
  max-width: 95%;
  overflow-x: scroll;
}


table {
  border-spacing: 0;
  border: 2px solid black;
  max-width: 100%
}

td {
  padding: 5px;
  border: 1px solid black;
  /* width: 100px;
  height: 30px; */
  text-align: center;
}

div {
  width: 100%;
}

tr:nth-of-type(1) {
  background-color: yellow;
}


.chart {
  display: none;
}

.chartMenu {
  display: none;
}

.chartDrawing {
  display: none;
}

.active {
  display: block
}

.chartDrawing {
  position: relative;
  margin: 100px auto;
  width: 70%;
  height: 50vh;
  /* background-color: #ddd; */
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.chartDotted {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px dashed red;
  border-right: 1px dashed red;
}


.circle {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border: 5px solid red;
  border-radius: 50%;
  transform: translate(-50%, 50%);

}


div.svg {
  position: absolute;
  left: 0;
  bottom: 0;
}



.labelX {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(50%, 50%);
  font-weight: bold;
}


.labelY {
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  /* width: 100%; */
  transform: translate(-100%, -50%);
  font-weight: bold;

}

.graphBars {
  position: relative;
  display: flex;
  justify-content: center;
}

.graphBars .graph {
  /* width: 30px;  */
  box-shadow: 0 0 2px black;
}

.graph .labelX {
  position: absolute;
  left: 50%;
  right: auto;
  top: auto;
  bottom: 0%;
  transform: translate(-50%, 100%);
  font-weight: bold;
  padding-top: 5px;
  /* width: auto */
}

.graph .labelY {
  position: absolute;
  left: 50%;
  right: auto;
  top: 50%;
  transform: none;
  transform: translate(-50%, -50%);
  font-weight: bold;
  /* width: 100%; */
  /* text-align: center; */
}


.chartDrawing.slupkowy {
  display: flex;
  align-items: flex-end;
}

.naglowek2 {
  display: block;
  position: absolute;
  right: 100%;
  top: 0%;
  transform: translate(50%, -150%);
}

.naglowek1 {
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0%;
  transform: translate(100%, 50%);
}








/* from edit functions  */
.changeFor-red {
  background-color: red;
}